<!DOCTYPE html>
<html>
<head>
  <title>Calculator widget</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
  <link rel="stylesheet" href="calculator.css">
  <script type="text/javascript" src="calculator.bundle.js"></script>
</head>
<body>
  <div class="container">
    <div class="calculator">
      <div class="display">
        <div class="result">0</div>
      </div>
      <div class="main-panel">
        <div class="operands">
          <div class="operands_row">
            <div class="operand button">AC</div>
            <div class="operand button">+/-</div>
            <div class="operand button">%</div>
          </div>
          <div class="operands_row">
            <div class="operand button">7</div>
            <div class="operand button">8</div>
            <div class="operand button">9</div>
          </div>
          <div class="operands_row">
            <div class="operand button">4</div>
            <div class="operand button">5</div>
            <div class="operand button">6</div>
          </div>
          <div class="operands_row">
            <div class="operand button">1</div>
            <div class="operand button">2</div>
            <div class="operand button">3</div>
          </div>
          <div class="operands_row">
            <div class="operand button">0</div>
            <div class="operand button val_dot">.</div>
          </div>
        </div>
        <div class="operators_panel">
          <div class="operator button">÷</div>
          <div class="operator button">×</div>
          <div class="operator button">-</div>
          <div class="operator button">+</div>
          <div class="operator button">=</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
