* {
      box-sizing: border-box;
    }

    body {
      font-size: 1em;
      font-family: SANS-SERIF;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.36);
      height: 100vh;
      width: 100vw;
    }

    .calculator {
      /*border-radius: 15px;*/
      /*background-color: grey;*/
      width: 30em;
      height: 40em;
    }

    .display {
      border-radius: 14px 14px 0 0;
      height: 25%;
      background: #3b3b40;
      position: relative;
    }

    .main-panel {
      display: flex;
      height: 75%;
      /*background: #eceaea;*/
      border-radius: 0 0 0 10px;
    }

    .operands {
      width: 75%;
      height: 100%;
      background: rgba(212, 212, 212, 0.49);
      display: flex;
      flex-direction: column;
      border-radius: 0 0 0 14px;
    }

    .result {
      color: #fff;
      font-size: 4em;
      font-weight: 100;
      padding-top: 1.5em;
      float: right;
      position: absolute;
      right: 0.7em;
      bottom: 0.3em;
    }

    .operators_panel {
      /*float: left;*/
      width: 25%;
      background: #d89448;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 14px 0;
    }

    .button {
      border: 0.1px solid grey;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5em;
      font-weight: 100;
      width: 100%;
      height: 100%;
    }

    .operands_row {
      /*background: green;*/
      display: flex;
      height: 100%;
      width: 100%;
    }

    .operand {
      color: black;
      font-size: 2em;
    }

    .val_dot {
      width: 49.5%;
    }